<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Vista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/tickets.css"/>
    </head>
    <body>
        <div class="concierto" th:each="user : ${tickets}">
                <tr>
                    <td th:text="${user.getArtista}"></td>
                    <td th:text="${user.getCosto}"></td>
                    <td th:text="${user.getFecha}"></td>
                    <td th:text="${user.getCapacidad}"></td>
                    <td th:text="${user.getLugar}"></td>
                </tr>
        </div>
    </body>
</html>
