/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 oct 2022, 19:03:37
    Author     : Fabian
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shadows+Into+Light+Two&display=swap');
*{
    
    font-family: 'Roboto', sans-serif;
}

.concierto{
    background-color: darkorange;
    height: 250px;
}
.titulo{
    height: 250px;
    background: gold;
}
body{
    background-color: lightsalmon;
    height: 250px;
}

